form {
    border: 1px solid white;
    border-radius: 3px;
    padding: 40px;
	color: rgb(20,20,20);
	font-family: 'Poppins', sans-serif;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
	font-family: 'Poppins', sans-serif;
}
